
a{
    color: black;
}
body {
    background-color: rgb(245, 245, 245);
}
.container{
    align-content: center;
}
.display-4{
    align-content: center;
}
.dropdown-menu{
    background-color: black;
}
.dropdown-item{
    color: white;
}
.err {
    visibility: hidden;
    color: red;
    font-size: 70%;
}
fieldset {
    border: 3px solid rgb(240, 240, 240);
    padding: 2em;
}
.forPolicy {
    font-size: 30pt;
}
#graphic{
    width: 145px;
    height: 125px;
}

html{
    background-color: white;
    margin: 3em 10em 10em 10em;
    /*padding: 6em;*/
}

#jumbotron {
    /*background-color: #3f9fb5;*/
    background-color: white;
    color: black;
    /*background-image: url("images/volunteers_rock.jpg");*/
}
#jumbobottom{
    background-color: #3f9fb5;
    color: white;
}
legend {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 110%;
    width: 50%;
    color: #3f9fb5;
}
#main {
    background-color: white;
    /*margin: 0 7em;*/
    /*padding: 3.5em;*/
}
#mainh1 {
    font-size: 35pt;
}
#submit {
    background-color: black;
    border-color: #3f9fb5;
    margin: 3.5em 3.5em 3.5em 3.5em;
}
#volform{
    display: block;
    align-content: center;
    -moz-box-align: center;
    width: 80%;
    padding-top: 2em;
    padding-bottom: 2em;

}
img{
    width: 80%;
    height: 400px;
    background-position: center;
    position: center;
    display: block;
    box-shadow: black;
}
#warning-msg{
    display: -webkit-box;
    display: none;
}


