
div {
    padding: 5px;
}

div label {
    display: block;
}
.err {
    color: red;
    visibility: hidden;
}


#other-area{
    display: none;
}

#submit{
    background-color: #3f9fb5;
    border-color: #3f9fb5;
}